{% extends 'layout.html.twig' %}

{% block title %}Modifier le mot de passe - {{ member.displayMemberNumber }} - {{ site_name }}{% endblock %}

{% block breadcrumbs %}
<a href="{{ path('homepage') }}"><i class="material-icons">home</i></a><i class="material-icons">chevron_right</i>
<a href="{{ path('admin') }}"><i class="material-icons">build</i>&nbsp;Administration</a><i class="material-icons">chevron_right</i>
<a href="{{ path('user_index') }}"><i class="material-icons">people</i>&nbsp;Liste des membres</a><i class="material-icons">chevron_right</i>
<a href="{{ path('member_show', {'member_number': member.memberNumber}) }}"><i class="material-icons">person</i>&nbsp;{{ member.displayMemberNumber }}</a><i class="material-icons">chevron_right</i>
<i class="material-icons">lock</i>&nbsp;Modifier le mot de passe
{% endblock %}

{% block content %}
    <div class="section">
        <div class="container">
            <h4>Modifier le mot de passe du membre #{{ member.memberNumber }}</h4>
            <p>
                <strong>Bénéficiaire principal :</strong> {{ member.mainBeneficiary.displayName }}<br>
                <strong>Utilisateur :</strong> {{ member.mainBeneficiary.user.username }}
            </p>

            {{ form_start(form) }}
            <div class="row">
                <div class="input-field col s12 m6">
                    <div class="errors">
                        {{ form_errors(form.password) }}
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">lock</i>
                        {{ form_widget(form.password) }}
                        {{ form_label(form.password) }}
                    </div>
                </div>
                <div class="input-field col s12 m6">
                    <div class="errors">
                        {{ form_errors(form.password_repeat) }}
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">lock_outline</i>
                        {{ form_widget(form.password_repeat) }}
                        {{ form_label(form.password_repeat) }}
                    </div>
                </div>
                <div class="col s12">
                    <button type="submit" class="btn-large waves-effect waves-light teal">
                        <i class="material-icons left">check</i>Modifier le mot de passe
                    </button>
                    <a href="{{ path('member_show', {'member_number': member.memberNumber}) }}" class="btn-large waves-effect waves-light grey">
                        <i class="material-icons left">cancel</i>Annuler
                    </a>
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

